{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet" />
    <style>
        .container {
            padding: 15px;
        }

        .navbar {
            padding: 0.75rem 1rem;
        }

        .dropdown-menu {
            min-width: 200px;
        }

        @media (max-width: 576px) {
            .navbar-brand {
                font-size: 1.2rem;
            }

            .nav-link {
                font-size: 0.9rem;
            }

            .dropdown-menu {
                font-size: 0.9rem;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'dashboard' %}">
                <i class="fas fa-home"></i> CEI
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'calendar' %}">
                            <i class="fas fa-calendar-alt"></i> Calendário
                        </a>
                    </li>
                    <li class="nav-item mx-lg-1">
                        <a class="nav-link" href="{% url 'lista-turmas' %}">
                            <i class="fas fa-users"></i> Turmas
                        </a>
                    </li>
                    <li class="nav-item mx-lg-1">
                        <a class="nav-link" href="{% url 'docentes_list' %}">
                            <i class="fas fa-users"></i> Professores
                        </a>
                    </li>
                    {% if user.is_authenticated and not user_in_discente %}
                    <li class="nav-item mx-lg-3">
                        <a class="nav-link" aria-current="page" href="{% url 'task-list' %}">
                            <i class="fas fa-clipboard-list"></i> Eventos
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'edituser' %}">Editar Dados</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-item">
                            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item"
                                    style="background: none; border: none; padding: 0; cursor: pointer;">
                                    Sair
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
                {% else %}
                <li class="nav nav-pills flex-column">
                    <a href="{% url 'login' %}" class="nav-link text-white">
                        Login
                    </a>
                </li>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container-fluid px-5">
        <div class="col-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/simple-datatables.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>