{% extends 'base.html' %}

{% load static %}

{% block title %}Adicione uma tarefa{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="col-md-6">
        <h5 class="text-primary">Adicionar novo Evento</h5>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Título:</label>
                {{ form.title }}
            </div>
            <div class="form-group">
                <label for="description">Descrição:</label>
                {{ form.description }}
            </div>
            <div class="form-group">
                <label for="start_date">Data de Início:</label>
                {{ form.start_date }}
            </div>
            <div class="form-group">
                <label for="end_date">Data de Fim:</label>
                {{ form.end_date }}
            </div>
            <div class="form-group">
                <label for="start_time">Hora de Início:</label>
                {{ form.start_time }}
            </div>
            <div class="form-group">
                <label for="end_time">Hora de Fim:</label>
                {{ form.end_time }}
            </div>
            <div class="form-group" style="margin-top: 5px;">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>

    $(document).ready(function () {

        $('#id_start_date').mask('00/00/0000');
        $('#id_end_date').mask('00/00/0000');
        $('#id_start_time').mask('00:00:00');
        $('#id_end_time').mask('00:00:00');
    })

</script>
{% endblock %}