{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<style>
    #calendar-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    #calendar {
        width: 100%;
        min-height: 400px;
    }

    @media (min-width: 992px) {
        #calendar-container {
            flex-wrap: nowrap;
        }

        #events-column {
            max-width: 25%;
        }

        #calendar-column {
            max-width: 75%;
        }
    }

    .fc-header-toolbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    .fc-toolbar-chunk {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-start;
    }

    @media (max-width: 576px) {
        .fc-header-toolbar {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .fc-toolbar-chunk {
            justify-content: flex-start;
        }
    }
</style>


<div class="container-fluid mt-4 mb-5 vh-100">
    <div class="row" id="calendar-container">
        <div class="col-md-3 mb-3" id="events-column">
            <h5>Eventos do dia:</h5>
            {% for event in events_today %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text"><strong>Turma:</strong> {{ event.turma }}</p>
                    <p class="card-text"><strong>dia:</strong> {{ event.start_date }} <br> <strong>até:</strong> {{
                        event.end_date }} </p>
                    <a href="/task/{{ event.id }}" class="btn btn-primary btn-sm">Ver Detalhes</a>
                </div>
            </div>
            {% empty %}
            <p class="text-muted">Não há eventos para hoje.</p>
            {% endfor %}
        </div>
        <div class="col-md-9" id="calendar-column">
            <div id="calendar"></div>
        </div>
    </div>
</div>

<script src="{% static 'fullcalendar/dist/index.global.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'pt-br',
            buttonText: {
                today: 'Hoje',
                month: 'Mês',
                week: 'Semana',
                day: 'Dia',
                list: 'Agenda'
            },
            events: '/api/tasks/',
            eventClick: function (info) {
                var taskId = info.event.id;
                window.location.href = '/task/' + taskId;
            },
            eventColor: '#0b57d0',
            displayEventTime: true,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            height: "100vh",
        });

        calendar.render();
    });
</script>

{% endblock %}