{% extends 'base.html' %}

{% block title %}Excluir Turma{% endblock %}

{% block content %}
<div class="offset-1 col-10">
    <h1>Tem certeza que deseja excluir a turma "{{ object.nome }}"?</h1>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a href="{% url 'lista-turmas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}